@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fascinate+Inline&family=Indie+Flower&display=swap');

body {
  background-image: url(/src/assets/images/background.jpg);
  margin: 0;
 
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
